/*  Kevin Kraaijveld CSS Mad Lips
============================================================================

1. Algemene CSS


============================================================================ */


/* 1. Algemene CSS
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

body{
  background-image: url("background.gif");
}
h1{
  color:white;
  position: absolute;
  left: 22%;
  font-size: 47px;
}
h2{
margin: 10px 20px;
}
main{
  background-color: white;
  width: 56%;
  height: 70%;
  position: absolute;
  left: 22%;
  top: 25%;
}
nav{
  position: absolute;
  left: 22%;
  top: 15%;
  width: 56%;
}
ul{
  display: inline-flex;
  height: 50px;
  background-color: #AB2513;
  width: 757px;
}
li{
  list-style-type: none;
  padding: 10px;
}
a{
  color:white;
  text-decoration: none;
  font-size: 25px;
  line-height: 25px;
}
a:hover{
    color:grey;
}
#text{
  float: left;
  margin-left: 5%;
}
#madeby{
  position: absolute;
  left: 22%;
  bottom: 0%;
  width: 56%;
  color:#fff;
  text-align: center;
  background-color: #535245;
}
form{
  float: right;
  margin: 20px;
  margin-right: 10%;
}
input{
  margin: 5px;
  width: 230px;
}

/*Made by Kevin Kraaijveld*/
